lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.context.annotation.Component
lombok.copyableAnnotations += org.springframework.stereotype.Service
lombok.copyableAnnotations += org.springframework.stereotype.Repository
lombok.copyableAnnotations += org.springframework.stereotype.Controller
lombok.copyableAnnotations += org.springframework.web.bind.annotation.RestController
